body {
    color: #333;
    font-family: Arial, Helvetica, serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
    background: rgba(238, 231, 222, 0.521);
}
  
  /* h1 {
    background: #333;
    color: #fff;
    text-align: center;
    margin: 0 0 5% 0;
    padding: 0.5em;
    margin: 0 0 5% 0;
  } */
  
  .cardBox {
    float: left;
    font-size: 1.2em;
    margin: 1% 0 0 1%;
    perspective: 800px;
    transition: all 0.3s ease 0s;
    width: 23.7%;
  }
  
  .cardBox:hover .card {
    transform: rotateY( 180deg);
  }
  
  .card {
    background: bisque;
    cursor: default;
    height: 300px;
    border-radius: 5%;
    transform-style: preserve-3d;
    transition: transform 0.4s ease 0s;
    width: 100%;
    -webkit-animation: giro 1s 1;
    animation: giro 1s 1;
    color:white;
  }
  
  .card p {
    margin-bottom: 1.8em;
  }
  
  .card .front,
  .card .back {
    backface-visibility: hidden;
    box-sizing: border-box;
    border-radius: 5%;
    display: block;
    font-size: 1.2em;
    height: 100%;
    padding: 0.8em;
    position: absolute;
    text-align: center;
    width: 100%;
  }
  
  .card .front strong {
    background: #fff;
    border-radius: 100%;
    color: #222;
    font-size: 1.5em;
    line-height: 30px;
    padding: 0 7px 4px 6px;
  }
  
  .card .back {
    transform: rotateY( 180deg);
    color:azure;
    background: url('../assets/mehandi.jpg');
  }
  
  .card .back a {
    padding: 0.3em 0.5em;
    background: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 1px;
    font-size: 0.9em;
    transition: all 0.2s ease 0s;
  }
  
  .card .back a:hover {
    background: #fff;
    color: #333;
    text-shadow: 0 0 1px #333;
  }
  
  .cardBox:nth-child(1) .card .back {
    /* background: cornflowerblue; */
    background: url('../assets/gal/gal09.JPG');
    background-position:center;
    background-size: cover;

  }
  
  .cardBox:nth-child(2) .card .back {
    background: orange;
    background: url('../assets/mehandi.jpg');
    background-position:center;
    background-size: cover;
  }
  
  .cardBox:nth-child(3) .card .back {
    background: yellowgreen;
    background: url('../assets/sangeet.jpg');
    background-position:center;
    background-size: cover;
  }
  
  .cardBox:nth-child(4) .card .back {
    background: tomato;
    background: url('../assets/phere.jpg');
    background-position:center;
    background-size: cover;
  }

  .cardBox:nth-child(1) .card .front {
    /* background: cornflowerblue; */
    background: url('../assets/gal/gal09.JPG');
    background-position:center;
    background-size: cover;

  }
  
  .cardBox:nth-child(2) .card .front {
    background: orange;
    background: url('../assets/mehandi.jpg');
    background-position:center;
    background-size: cover;
  }

  .cardBox:nth-child(3) .card .front {
    background: yellowgreen;
    background: url('../assets/sangeet.jpg');
    background-position:center;
    background-size: cover;
  }

  .cardBox:nth-child(4) .card .front {
    background: orange;
    background: url('../assets/phere.jpg');
    background-position:center;
    background-size: cover;
  }

  .cardBox:nth-child(2) .card {
    -webkit-animation: giro 1.5s 1;
    animation: giro 1.5s 1;
  }
  
  .cardBox:nth-child(3) .card {
    -webkit-animation: giro 2s 1;
    animation: giro 2s 1;
  }
  
  .cardBox:nth-child(4) .card {
    -webkit-animation: giro 2.5s 1;
    animation: giro 2.5s 1;
  }
  
  @-webkit-keyframes giro {
    from {
      transform: rotateY( 180deg);
    }
    to {
      transform: rotateY( 0deg);
    }
  }
  
  @keyframes giro {
    from {
      transform: rotateY( 180deg);
    }
    to {
      transform: rotateY( 0deg);
    }
  }
  
  @media screen and (max-width: 767px) {
    .cardBox {
      margin-left: 2.8%;
      margin-top: 3%;
      width: 46%;
    }
    .card {
      height: 285px;
    }
    .cardBox:last-child {
      margin-bottom: 3%;
    }
  }
  
  @media screen and (max-width: 480px) {
    .cardBox {
      width: 45.5%;
    }
    .card {
      height: 200px;
    }
  }