@import 'resp.css';
@import 'nav.css';
@import 'card.css';
*{
    margin: 0;
    padding: 0;
}

.invitation .text-small{
    margin-left: 12.5%;
    font-size:35px;
    text-align: center;
    width: 75%; 
}

.firstSection{
    height: 100vh; 
}

.box-main{
    display: flex; 
    justify-content: center; 
    align-items: center;
    /* height: 100vh;  */
    color: white; 
    width: 100%;
    /* height: auto; */
    overflow: auto;
}

.firstHalf {
    margin-top: 50px;
    height: 25%;
    padding: 20px;
    border-radius: 5%;    
    background-color: rgba(250, 235, 215, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.invitation{
    display: flex;
    background-color: beige;
    align-items: center;
    width: 100%;

}

.invitation .text-big {
    color: rgb(199, 22, 22);
    font-size: 50px;    
}

.invitation .text-small{    
    border: none;
    border-radius: 5%;
    color:grey;
    font-size: 22px;  
    padding: 10px;  
}

.container-invitation{
    display: flex;
    width: 100% !important;
    align-items: center;
 }

.dp{
    border: 2px solid white;
    border-radius: 50%;
    width: 30%;
    height: auto;
    padding: 1%;
    margin: 5px;
}
.invited{
    width: 30%;
}
.whenAndWhere{
    background: rgba(212, 205, 205, 0.7) url('../assets/venue.jpg');
    width: 80%;
    margin: auto;
    background-repeat:no-repeat;    
    background-color:antiquewhite;
    background-position:center;
    background-size: cover;
    background-blend-mode: darken;
    padding: 10px;
}

.whenAndWhere .text-big{
    font-size: 35px;
    color: rgba(32, 20, 20, 0.63);

}

.whenAndWhere .text-small {
    margin-bottom: 20px;
    width: 60%;
    margin: auto;
    font-size: larger;
    padding: 10px;
    border-radius: 5%;
    color: rgba(97, 84, 84, 0.932);
    
}

footer{
    align-items: center;
    text-align: center;
    background-color: bisque;
    padding: 20px;
}

footer .text-big{
    font-size: 40px;
    padding: 0;
}

.footer-icon{
    width: 100px;
}

.family-image{
    border: 2px solid white;
    border-radius: 50%;
    width: 30%;
    padding: 20px;
    margin: 5px;
    margin-left: 10%;
}

.member-family{
    display: flex;
    align-items: center;
    margin: auto;
    width: 60%;
    

}

.member-family-2{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.member-family papa{
    flex-direction: row-reverse;
}



.family-content{
    padding-left: 5px;
    overflow: hidden;
}

.row-gallery {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
    margin-left: 5%;
}

.row-gallery-800{
    display: none;  
}

/* Create 3 equal columns that sits next to each other */
.column-gallery {
    -ms-flex: 30%; /* IE10 */
    flex: 30%;
    max-width: 30%;
    padding: 0 4px;
}

.column-gallery img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}